<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <script type="text/javascript" src="//use.typekit.net/vnc7hso.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script type="text/javascript"
            src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
    <link href="/static/style.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/static/jquery.js"></script>
    <script type="text/javascript" src="/static/j.js"></script>
  </head>

  <body id="{{template "page"}}page" class="nomath">
    {{template "content" .}}
  </body>
</html>
