{{define "page"}}login{{end}}

{{define "content"}}
<div id="login_wrapper">
  <header id="head" class="sans">
    <h1>Arrow</h1>
    <h2>Internet chat as God intended</h2>
  </header>

  <div id="flashes" class="sans small">
    {{range .}}
    {{.}}<br/>
    {{end}}
  </div>

  <form id="login" action="/login" method="POST">
    <input type="text" name="username" class="input"
           placeholder="username" autocomplete="off" spellcheck="false">
    <input type="password" name="password" class="input"
           placeholder="password" autocomplete="off">
    <input type="password" name="password_again" id="again" class="input hide"
           placeholder="retype password" autocomplete="off">
    <input type="submit" id="submit" class="submit sans small light pointer"
           value="login">
  </form>
  <input type="button" id="switch" class="sans small light pointer"
         value="need to register?">
</div>
{{end}}
