{{define "content"}}
<div id="logo">
  <img src="/static/arrow.png">
</div>

<div id="left">
  <div id="control">
    <div id="settings" class="icon pointer noselect"><div class="lines"></div></div>
    <div id="addthread" class="icon pointer noselect"><div class="plus"></div></div>
  </div>
  <form id="newthread" action="/newthread" method="POST">
    <input type="text" name="name" class="name" placeholder="thread name"
           autocomplete="off" spellcheck="false">
    <input type="text" name="users" class="users" placeholder="invite people"
           autocomplete="off" spellcheck="false">
    <input type="submit" value="start thread">
  </form>
  <div id="threads">
    {{range .Threads}}
    <div href="/thread/{{.Id}}" class="thread"
         onclick="location.href=this.getAttribute('href');">
      <time datetime="{{.Time | isoTime}}"></time>
      <div class="name">{{.Name}}</div>
      <div class="users">
        {{range $i, $u := .Users}}{{if $i}}, {{end}}{{$u}}{{end}}
      </div>
      <div class="lastmsg">
        {{if .Last}}
        {{.Last.Username}}: {{.Last.FmtBody | safe}}
        {{end}}
      </div>
    </div>
    {{end}}
  </div>
</div>

<div id="right_wrap">
  <div id="right">
    {{template "right" .}}
  </div>
</div>
{{end}}
