{{define "content"}}
<div id="logo" class="pointer noselect">
  <img src="/static/arrow.png">
</div>

<section id="left">
  <nav id="control">
    <div id="linesicon" class="icon pointer noselect"><div class="lines"></div></div>
    <div id="plusicon" class="icon pointer noselect"><div class="plus"></div></div>
  </nav>
  <form id="newthread" class="sans hide" action="/newthread" method="POST">
    <input type="text" name="name" class="name input"
           placeholder="thread name" autocomplete="off" spellcheck="false">
    <input type="text" name="users" class="users input small light"
           placeholder="invite people" autocomplete="off" spellcheck="false">
    <input type="submit" class="submit small light pointer" value="start thread">
  </form>
  <div id="threads">
    {{range .Threads}}
    <div href="/thread/{{.Id}}" class="thread pointer"
         onclick="location.href=this.getAttribute('href');">
      <time class="sans light" datetime="{{.Time | isoTime}}"></time>
      <div class="name sans truncate">{{.Name}}</div>
      <div class="users sans small light truncate">
        {{range $i, $u := .Users}}{{if $i}}, {{end}}{{$u}}{{end}}
      </div>
      <div class="lastmsg light truncate">
        {{if .Last}}
        {{.Last.Username}}:
        <span{{if .Last.Tex}} class="math"{{end}}>{{.Last.Body | safe}}</span>
        {{end}}
      </div>
    </div>
    {{end}}
  </div>
</section>

<section id="right">
  <div id="right_wrap">
    <div id="right_content">
      {{template "right" .}}
    </div>
  </div>
</section>
{{end}}
