{{define "page"}}thread{{end}}

{{define "right"}}
<div id="msgs">
  {{range .Messages}}
  <div class="msg">
    <div class="username light">{{.Username}}:</div>
    <time class="light sans" datetime="{{.Time | isoTime}}"></time>
    <div class="body{{if .Tex}} math{{end}}">
      {{.Body | safe}}
    </div>
  </div>
  {{end}}
</div>
<textarea id="input" class="input"></textarea>
<div id="options" class="sans small light">
  <input type="button" id="send" class="button pointer" value="send">
  <input type="button" id="preview" class="button pointer" value="preview">
  <label class="check pointer">
    <input type="checkbox" id="markdown" checked>
    <span class="checklabel noselect">markdown</span>
  </label>
  <label class="check pointer">
    <input type="checkbox" id="tex" checked>
    <span class="checklabel noselect">TeX</span>
  </label>
</div>
{{end}}
