$prefix: '/static/fonts/gyre-termes-';

@font-face {
    font-family: 'gyre-termes';
    src: url($prefix+'regular.eot');
    src: url($prefix+'regular.eot?#iefix') format('embedded-opentype'),
         url($prefix+'regular.woff') format('woff'),
         url($prefix+'regular.ttf') format('truetype'),
         url($prefix+'regular.svg#gyretermesregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gyre-termes';
    src: url($prefix+'italic.eot');
    src: url($prefix+'italic.eot?#iefix') format('embedded-opentype'),
         url($prefix+'italic.woff') format('woff'),
         url($prefix+'italic.ttf') format('truetype'),
         url($prefix+'italic.svg#gyretermesitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'gyre-termes';
    src: url($prefix+'bold.eot');
    src: url($prefix+'bold.eot?#iefix') format('embedded-opentype'),
         url($prefix+'bold.woff') format('woff'),
         url($prefix+'bold.ttf') format('truetype'),
         url($prefix+'bold.svg#gyretermesbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'gyre-termes';
    src: url($prefix+'bolditalic.eot');
    src: url($prefix+'bolditalic.eot?#iefix') format('embedded-opentype'),
         url($prefix+'bolditalic.woff') format('woff'),
         url($prefix+'bolditalic.ttf') format('truetype'),
         url($prefix+'bolditalic.svg#gyretermesbolditalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

/* @function prefix($ext) { */
/*     @return '/static/MathJax/fonts/HTML-CSS/TeX/' + $ext + */
/*             '/MathJax_Main-Regular.' + $ext; */
/* } */

/* @font-face { */
/*     font-family: 'tex'; */
/*     src: url(prefix('eot')); */
/*     src: url(prefix('eot')+'?#iefix') format('embedded-opentype'), */
/*          url(prefix('woff')) format('woff'), */
/*          url(prefix('otf')) format('opentype'); */
/* } */

/* @font-face { */
/*     font-family: 'tex'; */
/*     src: url('/static/fonts/lmroman10-regular-webfont.eot'); */
/*     src: url('/static/fonts/lmroman10-regular-webfont.eot?#iefix') format('embedded-opentype'), */
/*          url('/static/fonts/lmroman10-regular-webfont.woff') format('woff'), */
/*          url('/static/fonts/lmroman10-regular-webfont.ttf') format('truetype'), */
/*          url('/static/fonts/lmroman10-regular-webfont.svg#latin_modern_roman10_regular') format('svg'); */
/*     font-weight: normal; */
/*     font-style: normal; */

/* } */

/* @font-face { */
/*     font-family: 'tex'; */
/*     src: url('/static/fonts/cmunrm.eot'); */
/*     src: url('/static/fonts/cmunrm.eot?#iefix') format('embedded-opentype'), */
/*     url('/static/fonts/cmunrm.woff') format('woff'), */
/*     url('/static/fonts/cmunrm.ttf') format('truetype'), */
/*     url('/static/fonts/cmunrm.svg#cmunrm') format('svg'); */
/*     font-weight: normal; */
/*     font-style: normal; */
/* } */