$prefix: '/static/fonts/gyre-termes-';

@font-face {
    font-family: 'gyre-termes';
    src: url($prefix+'regular.eot');
    src: url($prefix+'regular.eot?#iefix') format('embedded-opentype'),
         url($prefix+'regular.woff') format('woff'),
         url($prefix+'regular.ttf') format('truetype'),
         url($prefix+'regular.svg#gyretermesregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gyre-termes';
    src: url($prefix+'italic.eot');
    src: url($prefix+'italic.eot?#iefix') format('embedded-opentype'),
         url($prefix+'italic.woff') format('woff'),
         url($prefix+'italic.ttf') format('truetype'),
         url($prefix+'italic.svg#gyretermesitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'gyre-termes';
    src: url($prefix+'bold.eot');
    src: url($prefix+'bold.eot?#iefix') format('embedded-opentype'),
         url($prefix+'bold.woff') format('woff'),
         url($prefix+'bold.ttf') format('truetype'),
         url($prefix+'bold.svg#gyretermesbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'gyre-termes';
    src: url($prefix+'bolditalic.eot');
    src: url($prefix+'bolditalic.eot?#iefix') format('embedded-opentype'),
         url($prefix+'bolditalic.woff') format('woff'),
         url($prefix+'bolditalic.ttf') format('truetype'),
         url($prefix+'bolditalic.svg#gyretermesbolditalic') format('svg');
    font-weight: bold;
    font-style: italic;
}
