@font-face {
  font-family: 'gyre-termes';
  src: url("/static/fonts/gyre-termes-regular.eot");
  src: url("/static/fonts/gyre-termes-regular.eot?#iefix") format("embedded-opentype"), url("/static/fonts/gyre-termes-regular.woff") format("woff"), url("/static/fonts/gyre-termes-regular.ttf") format("truetype"), url("/static/fonts/gyre-termes-regular.svg#gyretermesregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'gyre-termes';
  src: url("/static/fonts/gyre-termes-italic.eot");
  src: url("/static/fonts/gyre-termes-italic.eot?#iefix") format("embedded-opentype"), url("/static/fonts/gyre-termes-italic.woff") format("woff"), url("/static/fonts/gyre-termes-italic.ttf") format("truetype"), url("/static/fonts/gyre-termes-italic.svg#gyretermesitalic") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'gyre-termes';
  src: url("/static/fonts/gyre-termes-bold.eot");
  src: url("/static/fonts/gyre-termes-bold.eot?#iefix") format("embedded-opentype"), url("/static/fonts/gyre-termes-bold.woff") format("woff"), url("/static/fonts/gyre-termes-bold.ttf") format("truetype"), url("/static/fonts/gyre-termes-bold.svg#gyretermesbold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'gyre-termes';
  src: url("/static/fonts/gyre-termes-bolditalic.eot");
  src: url("/static/fonts/gyre-termes-bolditalic.eot?#iefix") format("embedded-opentype"), url("/static/fonts/gyre-termes-bolditalic.woff") format("woff"), url("/static/fonts/gyre-termes-bolditalic.ttf") format("truetype"), url("/static/fonts/gyre-termes-bolditalic.svg#gyretermesbolditalic") format("svg");
  font-weight: bold;
  font-style: italic; }

/* @function prefix($ext) { */
/*     @return '/static/MathJax/fonts/HTML-CSS/TeX/' + $ext + */
/*             '/MathJax_Main-Regular.' + $ext; */
/* } */
/* @font-face { */
/*     font-family: 'tex'; */
/*     src: url(prefix('eot')); */
/*     src: url(prefix('eot')+'?#iefix') format('embedded-opentype'), */
/*          url(prefix('woff')) format('woff'), */
/*          url(prefix('otf')) format('opentype'); */
/* } */
/* @font-face { */
/*     font-family: 'tex'; */
/*     src: url('/static/fonts/lmroman10-regular-webfont.eot'); */
/*     src: url('/static/fonts/lmroman10-regular-webfont.eot?#iefix') format('embedded-opentype'), */
/*          url('/static/fonts/lmroman10-regular-webfont.woff') format('woff'), */
/*          url('/static/fonts/lmroman10-regular-webfont.ttf') format('truetype'), */
/*          url('/static/fonts/lmroman10-regular-webfont.svg#latin_modern_roman10_regular') format('svg'); */
/*     font-weight: normal; */
/*     font-style: normal; */
/* } */
/* @font-face { */
/*     font-family: 'tex'; */
/*     src: url('/static/fonts/cmunrm.eot'); */
/*     src: url('/static/fonts/cmunrm.eot?#iefix') format('embedded-opentype'), */
/*     url('/static/fonts/cmunrm.woff') format('woff'), */
/*     url('/static/fonts/cmunrm.ttf') format('truetype'), */
/*     url('/static/fonts/cmunrm.svg#cmunrm') format('svg'); */
/*     font-weight: normal; */
/*     font-style: normal; */
/* } */
.lines {
  width: 12px;
  height: 2px;
  position: relative; }
  .lines:before, .lines:after {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute; }
  .lines:before {
    top: 4px; }
  .lines:after {
    top: 8px; }

.plus {
  width: 10px;
  height: 10px;
  position: relative; }
  .plus:before, .plus:after {
    content: "";
    position: absolute; }
  .plus:before {
    width: 100%;
    height: 2px;
    top: 50%;
    margin-top: -1px; }
  .plus:after {
    width: 2px;
    height: 100%;
    left: 50%;
    margin-left: -1px; }

.down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #cccccc; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: inherit;
  color: inherit;
  text-decoration: none; }

html, body {
  height: 100%; }

body {
  font-family: "nimbus-sans", sans-serif;
  font-size: 14px;
  color: #333536; }

input, textarea {
  font-size: inherit;
  border: none;
  background: inherit; }

input[type="submit"], input[type="button"] {
  display: block;
  cursor: pointer; }

strong {
  font-weight: 400; }

textarea {
  resize: none; }

input:focus, textarea:focus {
  outline: none; }

.noselect, #logo, .checklabel {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.truncate, .thread .name, .thread .users, .thread .lastmsg {
  white-space: nowrap;
  overflow: hidden; }

#login_wrapper {
  width: 250px;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: -160px auto 0; }
  #login_wrapper header {
    margin-bottom: 40px;
    font-family: "nimbus-sans", sans-serif; }
    #login_wrapper header h1 {
      font-weight: normal;
      font-size: 28px; }
    #login_wrapper header h2 {
      font-weight: normal;
      font-size: 16px; }
  #login_wrapper #flashes {
    margin-bottom: 20px;
    font-family: "nimbus-sans", sans-serif;
    font-size: 13px;
    color: #dd0000; }
  #login_wrapper #login input[type="text"], #login_wrapper #login input[type="password"] {
    width: 100%;
    padding-bottom: 5px;
    margin-bottom: 20px;
    border-bottom: 1px solid #cccccc; }
  #login_wrapper #login input[type="submit"] {
    width: 100%;
    height: 30px;
    margin: 20px 0;
    font-family: "nimbus-sans", sans-serif;
    font-size: 13px;
    color: #758087;
    border: 1px solid #cccccc;
    cursor: pointer; }
    #login_wrapper #login input[type="submit"]:hover {
      color: #333536;
      border-color: #999999; }
    #login_wrapper #login input[type="submit"]:active {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1); }
  #login_wrapper #login #again {
    display: none; }
  #login_wrapper #switch {
    padding-bottom: 3px;
    margin: 0 auto;
    font-family: "nimbus-sans", sans-serif;
    font-size: 13px;
    color: #758087;
    cursor: pointer; }
    #login_wrapper #switch:hover {
      color: #333536;
      border-bottom: 1px solid #999999; }

#logo {
  width: 40px;
  height: 40px;
  z-index: 1;
  position: fixed;
  top: 10px;
  left: 10px;
  padding-top: 9px;
  font-size: 20px;
  text-align: center;
  background: #6a727f;
  cursor: pointer; }
  #logo img {
    width: 35px;
    height: 12px;
    opacity: .6; }
  #logo:hover img {
    opacity: 1; }

#left {
  width: 260px;
  height: 100%;
  position: absolute;
  left: 0;
  color: #f5f9ff;
  background: #6a727f; }

#control {
  height: 60px;
  padding: 15px 5px 0 0; }
  #control .icon {
    height: 30px;
    padding: 10px;
    float: right;
    cursor: pointer; }
    #control .icon .lines, #control .icon .lines:before, #control .icon .lines:after,
    #control .icon .plus:before, #control .icon .plus:after {
      background: rgba(255, 255, 255, 0.5); }
    #control .icon:hover .lines, #control .icon:hover .lines:before, #control .icon:hover .lines:after,
    #control .icon:hover .plus:before, #control .icon:hover .plus:after {
      background: white; }

#newthread, .thread {
  height: 90px;
  padding: 15px;
  cursor: pointer; }
  #newthread .name, .thread .name {
    font-size: 14px; }
  #newthread .users, .thread .users {
    font-size: 13px;
    margin-bottom: 8px; }

#newthread {
  display: none; }
  #newthread input[type="text"] {
    width: 100%; }
  #newthread input[type="submit"] {
    font-size: 13px;
    color: #c8cdd0; }
    #newthread input[type="submit"]:hover {
      color: #f5f9ff;
      border-bottom: 1px solid #cccccc; }

.aside, .thread time {
  float: right;
  position: relative;
  top: 3px;
  font-size: 11px;
  text-align: right; }

.thread:hover {
  background: #757e8c; }
.thread .users, .thread .lastmsg, .thread time {
  color: #c8cdd0; }
.thread time {
  width: 60px; }
.thread .lastmsg {
  font-size: 13px; }
  .thread .lastmsg p, .thread .lastmsg li {
    display: inline; }
  .thread .lastmsg a {
    border-bottom: 1px solid #cccccc; }
    .thread .lastmsg a:hover {
      border-color: #999999; }

#right_wrap {
  height: 100%;
  position: absolute;
  left: 260px;
  right: 0;
  padding: 0 40px; }

#right {
  width: 420px;
  height: 100%;
  margin: 0 auto;
  position: relative; }

#instructions {
  position: relative;
  top: 50%;
  margin: -50px auto 0;
  text-align: center; }
  #instructions h1 {
    margin-bottom: 10px; }

#thread_head, #msgs, #preview_content, #input, #options {
  width: 100%;
  position: absolute; }

#thread_head, #msgs, #preview_content, #input {
  padding-left: 1px;
  padding-right: 1px; }

#thread_head {
  top: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #cccccc;
  font-family: "nimbus-sans", sans-serif;
  color: #758087; }
  #thread_head .name {
    font-size: 20px;
    font-weight: 300; }
  #thread_head .users {
    font-size: 13px; }
  #thread_head .plus {
    float: right;
    width: 8px;
    height: 8px; }

#msgs {
  top: 75px;
  bottom: 140px;
  overflow: auto; }

.msg + .msg {
  margin-top: 10px; }
.msg .username {
  font-family: "nimbus-sans", sans-serif;
  font-size: 13px;
  color: #758087; }
.msg time {
  font-family: "nimbus-sans", sans-serif;
  color: #758087; }
.msg .body_switch {
  cursor: pointer; }
  .msg .body_switch:hover {
    text-decoration: underline; }
.msg .body {
  clear: both;
  font-family: "gyre-termes", "georgia", "Times", serif; }
  .msg .body.raw {
    display: none; }
  .msg .body p + * {
    margin-top: 5px; }
  .msg .body a {
    border-bottom: 1px solid #999999; }
    .msg .body a:hover {
      border-color: #333333; }
  .msg .body ul, .msg .body ol {
    margin-left: 35px; }
  .msg .body li {
    margin: 5px 0; }
  .msg .body ul {
    list-style: none; }
    .msg .body ul li {
      text-indent: -14px; }
      .msg .body ul li:before {
        content: "\2014";
        position: relative;
        left: -10px; }

#input, #options, #preview_content {
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #cccccc; }

#input, #preview_content {
  height: 90px;
  bottom: 30px;
  padding-top: 5px;
  padding-bottom: 5px; }

#input, #preview_content {
  font-family: "gyre-termes", "georgia", "Times", serif; }

#preview_content {
  overflow: auto; }

#downicon {
  position: absolute;
  bottom: 150px;
  left: -30px;
  padding: 10px;
  cursor: pointer;
  display: none; }
  #downicon:hover .down {
    border-top-color: #999999; }

#options {
  height: 30px;
  bottom: 0;
  font-family: "nimbus-sans", sans-serif;
  font-size: 13px;
  color: #758087; }
  #options input[type="button"] {
    padding: 0 20px;
    height: 100%;
    float: left; }
    #options input[type="button"]:hover {
      color: #333536;
      background: #e5e5ec; }
    #options input[type="button"]:active {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1); }

.check {
  position: relative;
  margin: 8px 20px 0 0;
  float: right;
  cursor: pointer; }
  .check input {
    visibility: hidden; }
  .check:hover {
    color: #333536; }
  .check:hover .checklabel:before, .check input:checked + .checklabel:before {
    border-color: #999999; }
  .check input:checked + .checklabel:after {
    content: "\2713";
    position: absolute;
    left: 0; }

.checklabel:before {
  content: "";
  position: absolute;
  left: -1px;
  bottom: 1px;
  padding: 5px;
  border: 1px solid #cccccc; }
